<div class="modal-container">

    <div class="modal-header">
      {{ editMode ? 'Edit task' : 'Add new task'}}
    </div>

    <div class="modal-content">
      <input #taskName [value]="editMode ? task.name : ''">
    </div>

    <div class="modal-buttons">
      <button class="modal-buttons-item" (click)="closeModal()">Close</button>
      <button class="modal-buttons-item" *ngIf="editMode" (click)="editTask(taskName)">Edit task</button>
      <button class="modal-buttons-item" *ngIf="!editMode" (click)="addTask(taskName)">Add task</button>
    </div>

</div>
